@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}
body {
    font-family: Gilroy;
    margin: 0;  /*обнуляем все отступы*/
}

button {
    /*margin: 0;*/
    border: 0;
    padding: 0; /*у кнопок убираем рамки и отступы*/
}
ul {
    margin: 0;
    padding: 0;
    list-style: none; /*у списков убираем отступы внутр., внеш. и маркеры*/
}
a {
    text-decoration: none;
}
.container {        /*контейнер-центровшик*/
    max-width: 1600px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;     
}
.header .wrapper_top {
    background-color:#20242D;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .wrapper_top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper_top .adress {
    color: #FFFFFF
}
.wrapper_top .contacts a{
    color: #FFFFFF
}
.wrapper_top .contacts {
    display: flex;
    justify-content: space-between;
}
.wrapper_top .contacts li {
    margin-right: 56px;
}
.wrapper_top .contacts li:last-child {
    margin-right: 0;
}
.header .wrapper_bottom {
    background-color:#FFFFFF;
    padding-top: 12px;
    padding-bottom: 11px;
}
.header .wrapper_bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navigation a{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
}
.header .navigation ul {
    display: flex;
    align-items: center;
}
.header .navigation li {
    margin-right: 56px;
}
.header .navigation li:last-child {
    margin-right: 0px;
}
.header .navigation .active {
    color: #FF7129;
}
.start_screen {
    background: url(../img/bg_main.jpg);
    padding-top: 270px;
    padding-bottom: 138px;
    background-size: cover;
    background-repeat: no-repeat;
        
}
.start_screen .main_title{
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
}
.start_screen .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
   
}
.start_screen .btn {
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    width: 188px;
    padding: 16px 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}
.start_screen .btn-scroll {
    display: block;
    background: rgba(123, 126, 133, 0.4);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.info_main {
    background: url(../img/main_info_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.info_main .container {
    display: flex;

}
.info_main .heading_page {
    padding-left: 69px;
}
.info_main {
    padding-top: 132px;
    
}
.heading_page .title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
    padding-top: 69px;
    margin-top: 0;
    margin-bottom: 64px;
}
.heading_page .title_white {
    color: #FFFFFF;
}
.heading_page .text_page {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
    max-width: 535px;
    
}
.heading_page .text_page p{
    margin-top: 0;
    margin-bottom: 16px;
}
.footer {
    background-color: #20242D;
}
.footer .wrapper_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 45px;
    
}
.footer button {
    width: 187px;
    height: 49px;
}
.footer .wrapper_bottom ul{
    display: flex;
    justify-content: space-between;
    
}
.footer .wrapper_bottom li {
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer hr {
    margin: 0;
    border-bottom: 0;
    background-color: #7B7E85;
    opacity: 0.3;
}
.footer .navigation ul{
    display: flex;
    align-items: center;
}
.footer .navigation li {
    margin-right: 56px;
}
.footer .main_menu a{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.footer .btn-dark {
    background: #20242D;
    color: #FFFFFF;
    border: 1px solid #FF7129;
    }
.footer .wrapper_bottom a{
    color: #7B7E85;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
}
.footer .navigation .active {
    color: #FF7129;
}

.o_nas_page .heading_page {
    background: url(../img/o_nas_image.jpg);
    padding-top: 200px;
    padding-bottom: 103px;
    padding-left: 217px;
    background-size: cover;
    background-repeat: no-repeat;
}
.o_nas_page .title_white {
    padding: 0;
    margin: 0;
}
.o_nas_page .text_page {
    background: url(../img/o_nas_txt_block.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.o_nas_page .text_page .container{
    
    display: flex;
    padding-left: 217px;
    padding-top: 80px;
    padding-bottom: 184px;
    
}
.text_page .right_block {
    margin-left: 66px;
    max-width: 534px;
}
.text_page .left_block {
    max-width: 534px;
}

.projecty_page .title {
    margin-top: 123px;
    margin-bottom: 37px;
    margin-left: 201px;
    padding: 0;
}
.slider ul {
    display: flex;
    justify-content: space-between;
}
.slider li {
    margin-right: 160px;
}
.slider .num {
    text-align: center;
    margin-bottom: 100px;
}