.header .wrapper_top {
    background-color:#20242D;
    }
.wrapper_top .adress {
    color: #FFFFFF
}
.wrapper_top .contacts a{
    color: #FFFFFF
}
.header .wrapper_bottom {
    background-color:#FFFFFF;
    ;
}
.header .navigation a{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
}
.header .navigation .active {
    color: #FF7129;
}
.start_screen {
    width: 1600px;
    height: 844px;
    mix-blend-mode: multiply;
    opacity: 0.9;
    background: url(../img/bg_main.jpg), radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
}
.start_screen .main_title{
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.start_screen .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.start_screen .btn {
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.start_screen .btn-scroll {
    background: rgba(123, 126, 133, 0.4);
}
.info_main .title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}
.info_main .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.footer {
    background-color: #20242D;
}
.footer .main_menu a{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.footer .btn-dark {
    background: #20242D;
    color: #FFFFFF;
    border: 1px solid #FF7129;
    }
.footer .wrapper_bottom a{
    color: #7B7E85;
}
.footer .navigation :active {
    color: #FF7129;
}